@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
    padding: 5px 15px;
    color: white;
    background-color: #155E75;
    border-radius: 10px;
    font-weight: 600;
}
.button:hover{
    background-color: #0c4354;
}
.pull{
    animation: bounce 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite alternate;
}
@keyframes bounce {
    0%{
        transform: translate(0px);

    }
    50%{

    }
    100%{
        transform: translateY(10px);
    }
}
.about_img:after{
content: "";
position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.5);
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
}
.about_img:hover:after {
    opacity: 1;
}